// Font-family.
$fontMontserrat: 'Montserrat', sans-serif;

// Color.
$white: #ffffff;
$black: #000000;
$gray: #818181;
$pink: #E6007E;
$green: #38b800;
$blue: #1d3987;
$orange: #FFA500;

// Font-size.
$defsz: 16px;
$fszSm: 14px;
$fszMd: 19px;
$fszLg1: 40px;

// Font-weight.
$light: 300;
$normalW: 400;
$bold500: 500;
$bold600: 600;
$bold700: 700;

// Breakpoints.
$xs: 414;
$sm: 768;
$md: 992;
$mdPro: 1024;
$lg: 1200;
$xl: 1400;

// Container size.
$smC: 720px;
$mdC: 960px;
$lgC: 1170px;
$xlC: 1370px;

// Padding Space.
$p15: 15px;

// Margin Space.
$m15: 15px;

// Components.
$trans: .3s ease-in-out;
$bradius: 15px;